<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.relay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Relay">
        <activity android:name=".orderSent"></activity>
        <activity android:name=".orderDetails" />
        <activity android:name=".orderList" />
        <activity android:name=".Chat" />
        <activity android:name=".chat" />
        <activity android:name=".verifyPhoneNumber" />
        <activity android:name=".homeScreen" />
        <activity android:name=".getCustomerDetails" />
        <activity android:name=".LoginByNumber" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>